@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main{
  background: #fff url('/bg-content.jpg') repeat-x center top;
}

.menulist{

}

.menulist li{
  position: relative;
}
.menulist li > a{
  border-bottom: 2px solid transparent;
}

.menulist li:hover > a{
  border-bottom: 2px solid #0247a2;
}

.menulist li > ul{
  display: none;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  border: 1px solid #9c9c9c;
}

.menulist li > ul li{
  border-bottom: 1px solid #9c9c9c;
}

.menulist li > ul li a, .menulist li > ul li:hover a{
  border-bottom: none;
}

.menulist li:hover > ul{
  display: block;
  
}